body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(127, 128, 129);
     background-image: url(img.jpg); */
    /*background-size: cover;*/
    /* background-repeat: repeat-y; */
    /* background-position: top right 40px; */
    /* background: url(img.jpg) no-repeat top right, url(img.jpg) repeat-x top 300px right blue; */
    background-size: cover;
}
    html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: papyrus, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 0px 10px rgb(248, 45, 5);
    /* display:inline-block; */
}
#para{
    color: white;
}
img{
    float: right;
    margin-right: 20px;
    border: 10px solid black;
    border-radius: 60%;
}