<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 28px;
  font-weight: bold;
}
.product-card {
  width: 60%;
  margin: 40px;
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.product-image {
  text-align: center;
}

.product-image img {
  width: px;
  height: 50;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.product-info h2 {
  margin: 30px;
  font-size: 20px;
  color: hsl(0, 4%, 37%);
}

.price {
  color: green;
  font-size: 20px;
  margin: 5px 0;
}

.old-price {
  text-decoration: ;
  color:red;
}

.btn {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 15px;
  padding: 12px;
  background: #007bff;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}</style>
